$primary-color: #13c8ec;
$bg-dark: #101f22;
$card-dark: #1a2c2f;

$text-white: #ffffff;
$text-white-60: rgba(255, 255, 255, 0.6);
$text-white-80: rgba(255, 255, 255, 0.8);

$input-bg: rgba(255, 255, 255, 0.05);
$input-border: rgba(255, 255, 255, 0.2);

$border-color: rgba(255, 255, 255, 0.1);

$surface-dark: #1a2c30;
$text-muted-dark: #92c0c9;