.register-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;

    .content-left {
        justify-content: center;
        align-items: center;

        .brand {
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            color: #1877f2;
        }

        .detail {
            font-size: 20px;
        }
    }

    .content-right {
        .brand {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            color: #1877f2;
            text-align: center;
        }

        // justify-content: center;
        // align-items: center;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0 0 0 / 10%),
        0 8px 16px rgba(0 0 0 / 10%);
        box-sizing: border-box;

        .forgot-password {
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }


    }
}